/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
@use './fonts';
// @use 'vuetify/settings' with ( 
//     $body-font-family: 'Inter', 
//     $title-font: 'Inter'
// );



main {
    font-family: 'Inter', sans-serif;
}


p.text-body {
    font-size: 1.2rem;
    padding-bottom: 1em;
    text-align: justify;
}


.about__skillpill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    display: inline-block;
}