apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio
  labels:
    app.kubernetes.io/name: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
      - name: portfolio-container
        image: ghcr.io/zakdamack/portfolio:latest
        ports:
          - containerPort: 80
